.title {
    text-align: center;
    background-color: lightblue;
    border-color: lightskyblue;
    margin: 0;
}

.menuItems {
    background-color: lightblue;
    border-color: lightskyblue;
    margin: 0;
}

.currentOrder {
    background-color: lightblue;
    border-color: lightskyblue;
    margin:0
}

.column1 {
    float: left;
    width: 75%;
    background-color: lightblue;
  }

.column2 {
    background-color: lightblue;
    float: left;
    width: 25%;
    height: 100%;
}

.increaseQuantity {
    background-color: lightgreen;
    border: 3;
    border-color: rgb(179, 219, 179);
    width: 100px;
    height: 75px;
}

.decreaseQuantity {
    background-color: lightcoral;
    border: 3;
    border-color: rgb(246, 167, 167);
}

.tt {
}