<body>

<h2 class="title">Order</h2>

<div class="row">
    <div class="column1">
        <h4 class="foodTypes">Food Types</h4>
        <div class="container">
            <div *ngFor="let type of foodTypes">
                <button class="type" (click)="getItems(type)">{{type}}</button>
            </div>
        </div>
     </div>
    <div class="column2">
        <h4 class="menuItems">Menu Items</h4>
        <div class="container">
            <div *ngFor="let item of menuItems">
                <div *ngIf="item.stringID.charAt(2) == 'M'">
                    <button class="increaseQuantityM" (click)="increaseQuantity(item.id)"><strong>{{item.stringID}}. {{item.name}}: ${{item.price}}</strong></button>
                </div>
                <div *ngIf="item.stringID.charAt(2) == 'L'">
                    <button class="increaseQuantityL" (click)="increaseQuantity(item.id)"><strong>{{item.stringID}}. {{item.name}}: ${{item.price}}</strong></button>
                </div>
                <div *ngIf="item.stringID.charAt(2) == ''">
                    <button class="increaseQuantity" (click)="increaseQuantity(item.id)"><strong>{{item.stringID}}. {{item.name}}: ${{item.price}}</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="column3">
        <h4 class="currentOrder">Current Order</h4>
        <div class="container">
            <a routerLink=""><button class="buttons">Home</button></a>
            <button (click)="newOrder()" class="buttons">New Order</button>
            <div class="tt">
                <p>Subtotal: ${{subtotal}}</p>
                <p>Tax: ${{tax}}</p>
                <p>Total: <strong class="total">${{total}}</strong></p>
            </div>
            <div *ngFor="let item of items; let i = index">
                <button class="decreaseQuantity" (click)="decreaseQuantity(getMenuItemID(item))"><strong class="amounter">{{amounts[i]}}</strong> x {{getMenuItemStringID(item)}}. {{getMenuItemName(item)}}: ${{getMenuItemPrice(item)}}</button>
            </div>
            <button class="submit">Submit Order</button>
        </div>
     </div>
</div>

</body>