body {
    height: 100%;
    width: 100%;
}

.title {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.foodTypes {
    border-top-left-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(30, 35, 66);
    text-align: center;
    color: white;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.menuItems {
    margin: 5px;
    padding: 5px;
    background-color: rgb(30, 35, 66);
    text-align: center;
    color: white;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.currentOrder {
    border-top-right-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: rgb(30, 35, 66);
    text-align: center;
    color: white;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.row {
    margin: 5px;
    height: 100%;
    background-color: rgb(30, 35, 66);
    display: grid;
    grid-template-columns: 10% 65% 25%;
}

.column1{
    border-top-left-radius: 10px;
    width: 100%;
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(78, 83, 112);
}

.column2 {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    background-color: rgb(55, 60, 90);

}

.column3 {
    border-top-right-radius: 10px;
    width: 100%;
    grid-column: 3;
    grid-row: 1;
    background-color: rgb(78, 83, 112);
}

.type {
    float: left;
    background-color: rgb(95, 98, 139);
    border: 10;
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 100%;
    color: white;
    height:70px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.increaseQuantity {
    margin: 2px;
    background-color: rgb(95, 98, 139);
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 13%;
    height: 70px;
    color: white;
    float: left;
    font-size: x-small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.increaseQuantityM {
    margin: 2px;
    background-color: rgb(95, 98, 139);
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 13%;
    height: 70px;
    color: white;
    float: left;
    font-size: x-small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.increaseQuantityL {
    margin: 2px;
    background-color: rgb(48, 58, 200);
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 13%;
    height: 70px;
    color: white;
    float: left;
    font-size: x-small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.decreaseQuantity {
    text-align: left;
    background-color: rgb(95, 98, 139);
    border-color: rgb(117, 129, 173);
    color: white;
    width: 100%;
    height: 35px;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}


.tt {
    text-align: left;
    color: white;
    width: 100%;
    font-size: small;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.total {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.buttons {
    font-size: small;
    margin-bottom: 2px;
    margin-top: 2px;
    background-color: rgb(95, 98, 139);
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 100%;
    height: 35px;
    color: white;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.amounter {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

.submit {
    margin-top: 2px;
    font-size: small;
    background-color: rgb(95, 98, 139);
    border-radius: 5px;
    border-color: rgb(117, 129, 173);
    width: 100%;
    height: 35px;
    color: white;
    font-family:'Trebuchet MS';
    font-variant: small-caps;
}

.container {
    padding: 5px;
}