<h2 class="title">Order</h2>

<div class="row">
    <div class="column1">
        <h4 class="menuItems">Menu Items</h4>
        <div *ngFor="let item of menuItems">
            <button class="increaseQuantity" (click)="increaseQuantity(item.id)">{{item.id}}. {{item.name}}: ${{item.price}}</button>
        </div>
        <br>
        <a routerLink=""><button>Home</button></a>
        <p></p>
    </div>
    <div class="column2">
        <h4 class="currentOrder">Current Order</h4>
        <div class="tt">
            <p>Subtotal: ${{subtotal}}</p>
            <p>Tax: ${{tax}}</p>
            <p>Total: ${{total}}</p>
        </div>
        <div *ngFor="let item of order.items">
            <button class="decreaseQuantity" (click)="decreaseQuantity(item.id)">{{item.id}}. {{item.name}}: ${{item.price}}</button>
        </div>
        <div *ngFor="let values of quantityMapArrayValues">
            x <strong>{{values}}</strong>
        </div>
     </div>
</div>